---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getRecentPosts } from '@/lib/data-utils'

const blog = await getRecentPosts(SITE.featuredPostCount)
---

<Layout class="xl:max-w-[100rem] max-w-3xl md:px-10">
  <PageHead slot="head" title="Home" />

  <!-- GRID WRAPPER -->
  <div class="grid gap-10 pt-15 xl:grid-cols-2 xl:grid-rows-2 xl:gap-16">

    <!-- TOP LEFT -->
    <section class="flex flex-col gap-y-10">
      <h1 class="text-6xl leading-none font-bold">Hello there...</h1>

      <div class="flex flex-col space-y-5 text-muted-foreground text-2xl max-w-prose">
        <p>
          Hi, I’m Aidan. I’m a Computer Science undergraduate based near London.
        </p>
        <p>
          In my free time, I enjoy writing all of the blog posts found on this site, building keyboards,
          and all things musical!
        </p>
        <p>
          Feel free to have a browse and stay as long as you’d like.
        </p>
      </div>
    </section>

    <!-- RIGHT COLUMN — SPANS TWO ROWS -->
    <section class="flex flex-col gap-y-10 xl:row-span-2">
      <h1 class="text-6xl font-bold">Recent posts</h1>

      <ul class="flex flex-col gap-y-4">
        {
          blog.map((post) => (
            <li>
              <BlogCard entry={post} />
            </li>
          ))
        }
      </ul>

      <h1 class="flex justify-center text-bold">
        <Link
          href="/blog"
          class={buttonVariants({ variant: 'ghost' }) + ' group'}
        >
          View All Posts
          <span class="ml-1.5 transition-transform group-hover:translate-x-1">
            &rarr;
          </span>
        </Link>
      </h1>
    </section>

    <!-- BOTTOM LEFT -->
    <section class="flex flex-col gap-y-10">
      <h1 class="text-6xl leading-none font-bold">Career</h1>
      <p class="text-muted-foreground text-2xl max-w-prose">Currently working at TJX Europe as a Network & Data Automation Engineer.</p>
      <p class="text-muted-foreground text-2xl max-w-prose">Building websites for people in my free time.</p>
      </section>
      <!-- put whatever content you want here -->
    <!-- </section>
        <section class="flex flex-col gap-y-10">
      <h1 class="text-6xl leading-none font-bold">Welcome</h1>
      
    </section>
        <section class="flex flex-col gap-y-10">
      <h1 class="text-6xl leading-none font-bold">Welcome</h1>
      
    </section> --> 

  </div>
</Layout>
